.entry_container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: white;
    margin-bottom: 10px;
    /* border-right: 7px solid green; */
    border-right: 7px solid red;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.entry_container:hover{
    transform: scale(1.025);
    transition: ease-in-out 0.3s;
}


.entry_container_left{
    margin-left: 40px;
    width: 500px;
}
.entry_container_right{
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.entry_container_icon{
    display: flex;
    justify-content: space-between;
    width: 60px;
}